PORT={{sample_port}}
APP_ENV={{environment}}
DB_USER={{db_user}}
DB_PASSWORD={{db_password}}
DB_HOST={{db_host}}
DB_PORT={{db_port}}
DB_NAME={{db_name}}
ALGORITHM={{algorithm}}
REFRESH_TOKEN_TTL={{refresh_token_ttl}}
ACCESS_TOKEN_TTL={{access_token_ttl}}
SECRET_KEY={{your-secret-key-here}}
GUEST_UID={{guest-uid}}